* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
    margin: 0 5%;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 150px;
}

.nav_logo {
    width: 180px;
}

.nav_link {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 40px;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

.nav_link li a {
    text-decoration: none;
    color: green;
    font-size: 20px;
}

.login {
    text-decoration: none;
    background-color: green;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.navbar .login {
    display: block;
    float: left;
}

.logo {
    width: 300px;
    align-items: center;
    margin-left: 500px;
}

.coming_soon {
    background: rgb(231, 231, 231);
    margin: auto;
    border-radius: 15px;
    width: 70%;
} 

.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.content{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.social ul {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    list-style-type: none;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

h2{
    font-size: 4rem;
    align-items: center;
}

p{
    font-size: 1.rem;
    text-transform: capitalize;
    margin: 20px 0;
}

.iphone{
    width: 350px;
}

.input{
    display: inline-block;
    position: relative;

}

input{
    position: relative;
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;  
    cursor: pointer; 
    background: transparent;
    border: 2px solid goldenrod;
}

.button button {
    display: inline-block;
    position: absolute;
    height: 36px;
    width:25%;
    background: green;
    border: none;
    border-radius: 15px;
    top: 7px;
    right: 7px;
}