* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  list-style-type: none;
  /* outline: 2px solid red; */
}

:root {
  width: 99.999%;
  overflow: hidden auto;
}

body {
  width: 99.999%;
  font-family: "poppins";
  padding: 0 3%;
  overflow: hidden auto;
}

.header__navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.top_logo {
  width: 40%;
  min-width: 100px;
}


