* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 50px auto;
    background: black;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.logo {
    width: 300px;
    align-items: center;
    margin-left: 500px;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}
.midpoint {
    display: flex;
}
.content{
    line-height: 1.3;
    width: 50%;
}
.social ul {
    display: flex;
    list-style-type: none;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 0 400px;
}
h2{
    font-size: 4rem;
    align-items: center;
}
p{
    font-size: 1.rem;
    text-transform: capitalize;
    margin: 20px 0;
}
.iphone{
    width: 200px;
}

.input{
    display: inline-block;
    position: relative;

}
input{
    position: relative;
    width: 400px;
    padding: 10px;
    border-radius: 20px;  
    cursor: pointer; 
    background: transparent;
    border: 1px solid goldenrod;
}
button{
    display: inline-block;
    position: absolute;
    height: 100%;
    width:30%;
    background: green;
    border: none;
    border-radius: 20px;
    top: 0;
    right: 4px;
}
.toggle{
    display: inline-block;
    position: relative;
    background: white;
    width: 50px;
    height: 20px;
    border-radius: 20px;  
    cursor: pointer; 
    transition: 0.4s; 
    -webkit-transition: 0.4s;
}
.indicator{
    display: inline-block;
    position: absolute;
    background: green;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.mode{
    margin-top: 40px;
    line-height: 1.5;
}
#bnw{
    font-size: 12px;
    margin-top: 0px;
}

.toggle.active{
    background: green;
}
.toggle.active .indicator{
    background: white;
    left: 30px;
}
body.active{
    background: white;
    color: black;
}