@media screen and (max-width: 800px) {
    .navbar {
        justify-content: end;
        flex-direction: row-reverse;
        z-index: 100;
    }

    .navbar ul {
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
        position: absolute;
        top: 90%;
        left: -120%;
        right: 120%;
        overflow: hidden;
        padding: 20px 0;
        background-color: rgba(0, 128, 0, 0.193);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .navbar ul li a {
        color: black;
    }

    #toggle_nav:checked~.navbar ul {
        right: 0;
        left: 0;
    }

    label[for="toggle_nav"] {
        padding: 2px 0;
        display: flex;
        justify-content: center;
        gap: 2px;
        cursor: pointer;
        user-select: none;
    }

    label[for="toggle_nav"] p {
        font-size: 20px;
    }

    #toggle_nav:checked~label[for="toggle_nav"] {
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            text-align: center;
            padding: 50px;
        }

    .coming_soon {
        margin: 5px auto;
    }

}